<!DOCTYPE html>
<html lang=“ja”>
	<head>
		<meta charset=“utf-8”>
		<title>Enginegoten</title>
		<meta name=“viewport” content=“width=device-width, initial-scale=1”>
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
		<link rel=“stylesheet” href=assets/stylesheets/style.css”>
	</head>

	<body>
		<!—- ヘッダー -->
		<header id="header" class=“wrapper”>
      <div id="header-content">
        <img src="assets/headerimage.png" alt=“Enginegoten”>
        <nav>
          <ul id="header-content-link">
            <li class="header-content-link-elements">Our Mission-理念</li>
            <li class="header-content-link-elements">Business-事業内容</li>
            <li class="header-content-link-elements">About-会社概要</li>
            <li class="header-content-link-elements">Inquiry-お問い合わせ</li>
          </ul>
        </nav>
      </div>
		</header>

		<main>
			<!—- OurMission セクション -—>
			<section id=“ourmission” class=“wrapper”>
				<h2 class=“section-title”>Our Mission</h2>
        <img src="assets/sectionline.png" alt="SectionLine" class="sectionline">
        <div id="mission-content">
          <img src="assets/missionback.png" alt="AboutBack" id="missionback">
          <div id="content-mission-texts">
            <ul>
              <li class="content-mission-texts-elements">
                <h3 class="content-title">&lrtri; Mission</h3>
                <p>全ての従業員、その家族、仲間、携わる人たちを笑顔にし、社会に貢献出来る最高の技術集団をつくる事を使命とする。</p>
              </li>
              <li class="content-mission-texts-elements">
                <h3 class="content-title">&lrtri; Vision</h3>
                <p>エンジニアとしての高水準の技術教育だけでなく、魅力的な“ひと”の育成を以ってエンジンゴテンに携わる全てのひとを幸せに。</p>
              </li>
              <li class="content-mission-texts-elements">
                <h3 class="content-title">&lrtri; Value</h3>
                <p>“従業員の成長＝会社の成長”となる組織をつくり、“ひと”が持つ可能性を最大の価値に転換する。</p>
              </li>
            </ul>
          </div>
        </div>
			</section>

			<!—- Business セクション -—>
			<section id=“business” class=“wrapper”>
        <h2 class=“section-title”>Business</h2>
        <img src="assets/sectionline.png" alt="SectionLine" class="sectionline">
        <ul>
          <li id="business-content-upper" class="business-content">
            <div class="content-business-text">
              <h3 class="content-title">&#9711; 業務委託技術支援(SES)事業</h3>
              <p>Web開発を行うクライアントの現場に自社エンジニアをアサイン、開発のお手伝いをしています。
独自のカリキュラムによる教育環境を構築し、自社でイチから育成したエンジニアも多数活躍しています。</p>
            </div>
            <img src="assets/businessses.jpg" alt="BusinessSES" class="content-business-image">
          </li>
          <li class="business-content">
            <img src="assets/businessservice.jpg" alt="BusinessService"  class="content-business-image">
            <div class="content-business-text">
              <h3 class="content-title">&#9711; 接客サービス事業者向け教育プラットフォーム開発事業</h3>
              <p>グループ企業として培ってきた人材育成のノウハウを活かし、接客サービス事業者向けの教育プラットフォームの開発に取り組んでいます。
接客サービスの現場における課題である、“教育の質”の差をなくし、従業員全員がモチベーション高く成長していける環境の構築を目指しています。</p>
            </div>
          </li>
        </ul>
			</section>

			<!―-About セクション -―>
			<section id=“about” class=“wrapper”>
        <h2 class=“section-title”>About</h2>
        <img src="assets/sectionline.png" alt="SectionLine" class="sectionline">
        <div id="about-content">
          <img src="assets/aboutback.png" alt="AboutBack" id="aboutback">
          <ul id="content-about-texts">
            <li class="content-about-texts-elements">
              <h4 class="content-about-title">会社名</h4>
              <p>株式会社エンジンゴテン</p>
            </li>
            <li class="content-about-texts-elements">
              <h4 class="content-about-title">代表者</h4>
              <p>濱本 木綿子</p>
            </li>
            <li class="content-about-texts-elements">
              <h4 class="content-about-title">設立</h4>
              <p>2022年3月</p>
            </li>
            <li class="content-about-texts-elements">
              <h4 class="content-about-title">資本金</h4>
              <p>500万円</p>
            </li>
            <li class="content-about-texts-elements">
              <h4 class="content-about-title">所在地</h4>
              <p>&#12306;812-0013</p>
              <p>福岡市博多区博多駅東2-4-17 第六岡部ビル2F</p>
            </li>
            <li class="content-about-texts-elements">
              <h4 class="content-about-title">事業内容</h4>
              <p>SES事業、自社開発事業</p>
            </li>
          </ul>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d830.9129141179351!2d130.4230291292484!3d33.58839259879593!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x354191c82cd00001%3A0x7e35c0ae38b51!2z44CSODEyLTAwMTMg56aP5bKh55yM56aP5bKh5biC5Y2a5aSa5Yy65Y2a5aSa6aeF5p2x77yS5LiB55uu77yU4oiS77yU4oiS77yR77yX!5e0!3m2!1sja!2sjp!4v1649321773442!5m2!1sja!2sjp" width=100% height="340" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			</section>

			<!― Inquiry セクション ―>
			<section id=“inquiry” class=“wrapper”>
        <h2 class=“section-title”>Inquiry</h2>
        <img src="assets/sectionline.png" alt="SectionLine" class="sectionline">
        <p id="inquiry-text">採用・事業に関するお問い合わせは下記フォームより承ります。</p>
        <div class="form">
          <div class="form-item">
            <p class="form-item-label">お名前</p>
            <input type="text" class="form-item-input" placeholder="田中 太郎">
          </div>
          <div class="form-item">
            <p class="form-item-label">ふりがな</p>
            <input type="text" class="form-item-input" placeholder="たなか たろう">
          </div>
          <div class="form-item">
            <p class="form-item-label">メールアドレス</p>
            <input type="text" class="form-item-input" placeholder="enginegoten@examle.com">
          </div>
          <div class="form-item">
            <p class="form-item-label">会社名・学校名・所属</p>
            <input type="text" class="form-item-input" placeholder="株式会社エンジンゴテン">
          </div>
          <div class="form-item">
            <p class="form-item-label">お問い合わせ内容</p>
            <textarea class="form-item-textarea"></textarea>
          </div>
          <input type="submit" class="form-btn" value="送信">
        </div>
			</section>
		</main>

		<!— フッター —>
		<footer id=“footer”>
      <div class="footer-wrapper">
        <div class="footer-content">
          <img src="assets/footerlogo.png" alt="FooterLogo" class="footerlogo">
          <div class="content-footer-texts">
            <p>株式会社エンジンゴテン</p>
            <p>Tel. 092-402-8777</p>
            <p>福岡市博多区博多駅東2-4-17第六岡部ビル2F</p>
            <p class="privacypolicy"><a href="#">プライバシーポリシー</a></p>
          </div>
        </div>
        <p class="copywrites" >&copy;enginegoten Inc. All rights reserved.</p>
      </div>
		</footer>
	</body>
</html>